

.batata {
    text-align: center;
    margin-bottom: 50px; /* Adicionando margem abaixo da div para o botão ficar espaçado do texto */
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.batata p{
    font-size: 18px;
}
.batata h2{
    margin-top: 15%;

}

.botao1 {
    background-color: black;
    width: 180px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
    display: block; /* Para ocupar toda a largura da div */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    box-shadow: 2px 2px 2px rgb(83,81,81);
    margin-top: 10%;
}


.imagem1 {
    display: block; /* Para ocupar toda a largura da div */
    margin: 20px auto 0; /* Posiciona a imagem mais abaixo do botão */
    width: 5%;
    height: 5%;
}

.borda {
    border-color: grey;
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.botaozin a{
    text-decoration: none;
    color: black;
}